LIST

In [1]:
# generate a list of 100 number
ls = [i for i in range(100)]
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [2]:
# generate a list of 100 number which is divisible by 3
ls = [i for i in range(100) if i%3 == 0]
print(ls)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [19]:
# get only those name which starts with "a" and ends with "e"

ls = ["apple", "banana", "agrape", "avocado", "orange", "pineapple"]
valid_name = [val for val in ls 
              if val[0] == "a" and val[-1] == "e"]
print(valid_name)

['apple', 'agrape']

In [20]:
# flatted a multiple list

ls = [[1,2,3], [4,5,6], [7,8,9]]
flattened_ls = [val1 for val in ls for val1 in val]
print(flattened_ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:

#categorize number as even or add

ls = ["Even" if i%2 ==0 else "Odd" for i in range(10)]
print(ls)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

LIST COMPREHENSION WITH FUNCTION

In [26]:
#generate a list which is square of given range vaues and divided by 2
def square(x):
    return x**2

def even(x):
    return x%2 == 0

ls = [square(x) for x in range(20) if even(x)]
print(ls)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

DICTIONARY

In [6]:
# dictionary comprehension -> generate a dictionary till 100 number and divisible by 3

dict1 = {i:f"item_{i}" for i in range(100) if i%3 == 0}
print(dict1)

{0: 'item_0', 3: 'item_3', 6: 'item_6', 9: 'item_9', 12: 'item_12', 15: 'item_15', 18: 'item_18', 21: 'item_21', 24: 'item_24', 27: 'item_27', 30: 'item_30', 33: 'item_33', 36: 'item_36', 39: 'item_39', 42: 'item_42', 45: 'item_45', 48: 'item_48', 51: 'item_51', 54: 'item_54', 57: 'item_57', 60: 'item_60', 63: 'item_63', 66: 'item_66', 69: 'item_69', 72: 'item_72', 75: 'item_75', 78: 'item_78', 81: 'item_81', 84: 'item_84', 87: 'item_87', 90: 'item_90', 93: 'item_93', 96: 'item_96', 99: 'item_99'}

In [7]:
# create a dict2 which is opposite of d1 in term of key and value
dict2 = {value:key for key,value in dict1.items()}
print(dict2)

{'item_0': 0, 'item_3': 3, 'item_6': 6, 'item_9': 9, 'item_12': 12, 'item_15': 15, 'item_18': 18, 'item_21': 21, 'item_24': 24, 'item_27': 27, 'item_30': 30, 'item_33': 33, 'item_36': 36, 'item_39': 39, 'item_42': 42, 'item_45': 45, 'item_48': 48, 'item_51': 51, 'item_54': 54, 'item_57': 57, 'item_60': 60, 'item_63': 63, 'item_66': 66, 'item_69': 69, 'item_72': 72, 'item_75': 75, 'item_78': 78, 'item_81': 81, 'item_84': 84, 'item_87': 87, 'item_90': 90, 'item_93': 93, 'item_96': 96, 'item_99': 99}